.build {
  height: 80vh;
  width: 95%;
}

.build div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  margin: 5vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-image: url("https://images.unsplash.com/photo-1504148455328-c376907d081c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1578&q=80");
}

.build h1 {
  color: var(--secondary_color);
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1% 4%;
  font-size: 2em;
  border-radius: 10px;
  margin-top: 10vh;
  margin-bottom: auto;
}

@media screen and (max-width: 850px) {
  .build h1 {
    font-size: 1.2em;
  }
}
