.footer h4 {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  border-bottom: 1.5px solid #fff;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.column p,
.column li {
  font-size: 0.8rem;
}

.columns {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 1rem;
}

.footer {
  background-color: #ca1f62;
  font-size: 0.7rem;
}

.footer h5 {
  text-align: center;
  font-size: 0.8rem;
  color: white;
  margin-bottom: 0;
}

.social-icon {
  width: 1.4rem;
  height: auto;
  margin: 0.6rem;
  transition: transform 500ms ease-in-out;
  filter: grayscale(100%) brightness(1000%);
}

.social-icon:hover {
  transform: scale(1.6) rotate(360deg);
}

.footer li {
  color: white;
  outline: none;
}
.footer li:hover {
  color: rgb(242, 141, 139);
  cursor: pointer;
}
.footer a {
  text-decoration: none;
}

#cookie-notification {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 14%;
  height: 20%;
  background-color:transparent;
  text-align: center;
  padding: 3rem;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre sous la notification */
  z-index: 999; /* Assure que la notification est superposée sur tout le contenu */
}
#cookie-notification p {
  margin: 0.2rem;
  font-size: 1rem;
}

#cookie-notification button {
  margin: 0.5rem;
}
#cookie-notification button#accept-cookies {
  background-color: #ff83b4; /* Couleur pour le bouton Accepter */
}

#cookie-notification button#reject-cookies {
  background-color: #ff83b4; /* Couleur pour le bouton Refuser */
}


@media screen and (max-width: 850px) {
  .footer h4 {
    font-size: 0.5rem;
  }

  .column p,
  .column li {
    font-size: 0.4rem;
  }

  .footer {
    font-size: 0.3rem;
  }

  .footer h5 {
    font-size: 0.4rem;
  }

  .social-icon {
    width: 0.7rem;
  }

  #cookie-notification {
    position: fixed;
    width: 15%;
    height: 20%;
    background-color:#ca1f62;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre sous la notification */
    z-index: 999; /* Assure que la notification est superposée sur tout le contenu */
    box-sizing: content-box;  
  }

  #cookie-notification p {
    font-size: 0.7rem;
  }
  
  #cookie-notification button#accept-cookies {
    background-color: white; /* Couleur pour le bouton Accepter */
  }
  
  #cookie-notification button#reject-cookies {
    background-color: white; /* Couleur pour le bouton Refuser */
  }
  
}

