h4 {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.columns {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 1rem;
}

Footer {
  background-color: #ca1f62;
  font-size: 0.7rem;
}

h5 {
  text-align: center;
  font-size: 0.6rem;
  color: white;
}

.social-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.5rem;
}

li {
  color: white;
  outline: none;
}
footer li:hover {
  color: rgb(242, 141, 139);
  cursor: pointer;
}
footer a {
  text-decoration: none;
}
