h4 {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  border-bottom: 1.5px solid #fff;
}

.column{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.column p, .column li {
  font-size: 0.8rem;
}

.columns {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 1rem;
}

Footer {
  background-color: #ca1f62;
  font-size: 0.7rem;
}

h5 {
  text-align: center;
  font-size: 0.8rem;
  color: white;
}

.social-icon {
  width: 1.4rem;
  height: auto;
  margin: 0.6rem;
  transition: transform 500ms ease-in-out;
  filter: grayscale(100%) brightness(1000%)
}

.social-icon:hover {
  transform: scale(1.6) rotate(360deg);
}


li {
  color: white;
  outline: none;
}
footer li:hover {
  color: rgb(242, 141, 139);
  cursor: pointer;
}
footer a {
  text-decoration: none;
}
