@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.joboffer_separator {
  margin: 50px 200px 0px 200px;
  border: 1px solid var(--secondary_color);
}

/*///////////////////////////////////////////////////////////////////////////////
//                                 SEARCH BAR                                //
///////////////////////////////////////////////////////////////////////////////*/

.joboffer_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 10vh;
}

.searchBar_section {
  display: flex;
  justify-content: center;
  margin: 3% 0;
}

.search-box {
  font-size: 20px;
  border: solid 0.15em var(--secondary_color);
  display: inline-block;
  position: relative;
  border-radius: 2.5em;
}

.search-box input[type="text"] {
  font-family: "jost", sans-serif;
  font-weight: regular 400;
  width: 2.5em;
  height: 2.5em;
  padding: 0.3em 2.1em 0.3em 0.4em;
  border: none;
  box-sizing: border-box;
  border-radius: 2.5em;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}

.search-box input[type="text"]:focus {
  outline: none;
}

.search-box input[type="text"]:hover {
  cursor: pointer;
}

.search-box input[type="text"]:focus,
.search-box input[type="text"]:not(:placeholder-shown) {
  width: 18em;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.search-box input[type="text"]:focus + button[type="reset"] {
  transform: rotate(-45deg) translateY(0);
  transition: transform 150ms ease-out 800ms;
}

.search-box input[type="text"]:focus + button[type="reset"]:after {
  opacity: 1;
  transition: top 150ms ease-out (800ms + 150ms),
    right 150ms ease-out (800ms + 150ms), opacity 150ms ease (800ms + 150ms);
}

.search-box button[type="reset"] {
  background-color: transparent;
  width: 1.4em;
  height: 1.4em;
  border: 0;
  padding: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc((2.5em / 2) - (1.4em / 2));
  right: calc((2.5em / 2) - (1.4em / 2));
  transform: rotate(-45deg) translateY(calc(2.5em - 0.3em));
  transition: transform 150ms ease-out 150ms;
  color: transparent;
}

.search-box button:hover {
  cursor: pointer;
}

.search-box button[type="reset"]:before,
.search-box button[type="reset"]:after {
  content: "";
  background-color: #000000;
  width: 0.2em;
  height: 1.4em;
  position: absolute;
}

.search-box button[type="reset"]:after {
  transform: rotate(90deg);
  opacity: 0;
  transition: transform 150ms ease-out, opacity 150ms ease-out;
}

/*/ //////////////////////////////////////////////////////////////////////////////
//                                 Filter Selector                               //
///////////////////////////////////////////////////////////////////////////////*/

.filter_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 80%;
  background-color: var(--primary_color);
  border-radius: 10px;
}

.filter_section form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 80%;
  /* padding: 5px 0 8px 0; */
  margin: 0;
  width: 100%;
}

.location {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.location label {
  font-size: 0.8rem;
  color: white;
}

.location input {
  border: none;
  height: 4.5vh;
  border-radius: 4px;
}
/*/ //////////////////////////////////////////////////////////////////////////////
//                                 card jobOffer                               //
///////////////////////////////////////////////////////////////////////////////*/

.offers {
  display: flex;
  flex-direction: column;
}
.offers_section {
  display: flex;
  gap: 6em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.offers_title {
  color: #851342;
  align-self: center;
  font-size: 3em;
  margin: 50px 0 100px 0;
}

.offers_card {
  border-radius: 10px;
  background-color: var(--primary_color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  padding: 2% 1%;
  box-shadow: var(--primary_shadow);
}

.offers_card * {
  color: #ffffff;
  font-family: "jost", sans-serif;
}

.offers_card h1 {
  font-size: 2em;
  margin: 0;
}
.offers_card h2 {
  margin-bottom: 6%;
  text-align: center;
  font-size: 1.5em;
}

.offers_card h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 2%;
  margin-bottom: 1%;
}

.offers_card p {
  text-align: center;
  font-weight: 300;
}
.offers_card-symbol {
  margin-bottom: 5%;
}
.offers_card-desc {
  height: 2em;
}
.offers_card-loc {
  height: 2em;
}
.offers_card-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.offers_card-flexgauche,
.offers_card-flexdroite {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
}

/*/////////////////////////////////////////////////////////////////////////////

                             Media Query                          
///////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 850px) {
  .offers_title {
    font-size: 2.5em;
  }
  .offers_section {
    gap: 2em;
    flex-direction: column;
  }

  .offers_card h1 {
    font-size: 1.5em;
  }

  .offers_card h3 {
    font-size: 1em;
  }
  .offers_card p {
    font-size: 0.9em;
  }
  .filter_label {
    font-size: 1.2rem;
  }
  .filter_section form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filter_section {
    height: auto;
    padding: 4% 2%;
  }
}

@media screen and (max-width: 550px) {
  .offers_card {
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
  }
  .offers_card h1 {
    font-size: 1rem;
    text-align: center;
  }

  .offers_card h3 {
    font-size: 1em;
  }

  .filter_label {
    font-size: 0.9rem;
  }

  .filter_form {
    overflow-x: scroll;
    margin: 0;
    padding: 0;
    max-width: 100%;
    justify-content: space-between;
  }

  .filter_form::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .filter_section {
    margin: 0;
    border-radius: 0;
    width: 100%;
    right: 0;
    left: 0;
  }
}

/*///////////////////////////////////////////////////////////////////////////////
//                                 Media Query                                 //
///////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 420px) {
  .offers_card-flex {
    flex-direction: column;
  }
}
