.Inscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  text-align: center;
  margin-left: 10rem;
}

.image-container img {
  width: 35rem;
  height: 45rem;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  width: 30%;
  gap: 0.5rem;
  background-color: #ca1f62;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  margin-top:3rem;
}

.validate > form > input{
  width:3rem;
  background-color: #ca1f62;
}

.Inscription form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Inscription label {
  padding: 0.4rem;
  text-align: center;
}

.Inscription input[type="text"],
.Inscription input[type="password"] {
  padding: 0.5rem;
  margin-bottom: 0.8rem;
  border: 0.1rem solid #ca1f62;
  border-radius: 1rem;
  width: 20rem;
}

.Inscription input[type="submit"] {
  padding: 0.6rem 5rem;
  border-color: white;
  color: white;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  margin: 2rem;
}

.Inscription > input[type="submit"]:hover {
  background-color: #ca1f62;
}

.inscription_content{
  color: #ca1f62;
  text-align: center;
  margin-bottom: 5rem;
  margin-top:5rem;
  font-weight: bold;
  font-size: 2rem;

}

@media screen and (max-width: 550px) {
  .image-container img {
   display: none;
  }

  .inscription_content{
    font-size: 1rem;
    font-weight: bold; 
    
  }
  .Inscription {
    display: inline;
  }
  .form-container {
    font-size: 0.6rem;
    width: 80%;
    margin-top: 1.5rem;
    padding-top:2rem;
  }
 
  .inscription_content label {
    margin: -0.4rem;
    margin-bottom: -1rem;
  }
}

.validate > input{
  background-color:#ca1f62;
}

