.Inscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container img {
  width: 35rem;
  height: 45rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  margin-bottom: 10%;
  width: 30%;
  gap: 0.5rem;
  background-color: #ca1f62;
  margin-bottom: 1.5rem;
  border-radius: 1.5rem;
  margin-top: 3rem;
  box-shadow: var(--primary_shadow)

}
.message-error{
  color:black;
  text-align: center;
  font-size: 1rem;
  padding:1.5rem;
  margin-top: 1rem;
}

.validate > form > input {
  width: 3rem;
  background-color: #ca1f62;
}

.Inscription form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Inscription label {
  text-align: center;
  width: 100%;
}

.Inscription input[type="text"],
.Inscription input[type="password"] {
  border: 0.1rem solid #ca1f62;
  border-radius: 10px;
  width: 80%;
  text-align: center;
}

.Inscription input[type="submit"] {
  padding: 0.6rem 5rem;
  border-color: white;
  color: white;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  margin: 2rem;
}

.Inscription > input[type="submit"]:hover {
  background-color: #ca1f62;
}

.inscription_content {
  color: #ca1f62;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-weight: bold;
  font-size: 2rem;
}
@media screen and (max-width: 832px) {
  .image-container img {
    display: none;
  }
  .Inscription {
    display: block;
  }
}
@media screen and (max-width: 550px) {

  .inscription_content {
    font-size: 1rem;
    font-weight: bold;
  }
  .form-container {
    font-size: 0.6rem;
    width: 80%;
    margin-top: 1.5rem;
    padding-top: 2rem;
  }

  .inscription_content label {
    margin: -0.4rem;
    margin-bottom: -1rem;
  }
}

.validate > input {
  background-color: #ca1f62;
}

.switch_company_page {
  width: 100%;
  margin-top: -5%;
}
.switch_company_page button {
  border: none;
  padding: 4% 8%;
  border-radius: 7px;
  margin-bottom: 4%;
  color: var(--secondary_color);
  font-size: 1.2rem;
}

.switch_company_page button:hover {
  cursor: pointer;
}
