.Inscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  text-align: center;
  margin-left: 10rem;
}

.image-container img {
  width: 35rem;
  height: 45rem;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  width: 30%;
  gap: 0.5rem;
  background-color: #ca1f62;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}

.validate > form > input{
  width:3rem;
  background-color: #ca1f62;
}
.je-suis {
  text-align: center;
  padding: 1.5rem;
  }

.je-suis div {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}

.Inscription form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Inscription label {
  padding: 0.4rem;
  text-align: center;
}

.Inscription input[type="text"],
.Inscription input[type="password"] {
  padding: 0.5rem;
  margin-bottom: 0.8rem;
  border: 0.1rem solid #ca1f62;
  border-radius: 1rem;
  width: 20rem;
}

.Inscription input[type="submit"] {
  padding: 0.6rem 5rem;
    border-color: #ca1f62;
  color: white;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  margin: 2rem;
}

.Inscription > input[type="submit"]:hover {
  background-color: #ca1f62;
}

.inscription{
  color: white;
  text-align: center;
  font-size:1.8rem;
  margin-bottom:2rem;
  margin-top: 2rem;
}

@media screen and (max-width: 550px) {
  .image-container img {
   display: none;
  }
 
  .Inscription {
  display: inline;
   
  }
  .form-container{
   font-size: 0.6rem;
   width:80%
  }

  label{
  margin:-0.40rem;
  margin-bottom: -1rem;
  }
  .je-suis{
  padding-top: 0rem;
  display:inline-flex;  
  }
  .validate>form>input{
  width:10%;
  color:#ca1f62;
  }
} 