.inscription_company_content{
  color: #ca1f62;
  text-align: center;
  margin: 5rem;
  font-weight: bold;
  font-size: 2rem;
}
.Inscription-company {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image_compagny-container img{
  width: 35rem;
  height: 45rem;
}
.companyRegistration_form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #ca1f62;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  border-radius: 1.5rem;
  box-shadow: var(--primary_shadow)
}
.company-form-container-info-first{
  margin-top: 8%;
}

.company-form-container-info {
  padding: 0.5rem;
  margin-bottom: 0.4rem;
  border: 0.1rem solid #ca1f62;
  border-radius: 5px;
  width: 60%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  font-size: 0.6em;
}

.Inscription-company input[type="submit"] {
  padding: 0.6rem 5rem;
  border-color: white;
  color: white;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  margin: 2rem;
}

.design-image-file {
  color: white;
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
}
.design-image-file label {
  margin-bottom: 2%;
}

.companyRegistration_text_area {
  margin-top: 2%;
  height: 10em;
  border: none;
  border-radius: 5px;
  text-align: top;
}

.validate {
  width: 100%;
}

.companyRegistration_form_container button {
  padding: 0.6rem 5rem;
  margin: 2rem;
  border-color: white;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--secondary_color);
  font-size: 0.5em;
}

.companyRegistration_form_container button:hover {
  cursor: pointer;
}
@media screen and (max-width: 832px) {
   .Inscription-company{
    display: block;
  }
  .image_compagny-container img {
    display: none;
  }
  .companyRegistration_form_container {
    display: block;
  }
}
@media screen and (max-width: 550px) {
  .inscription_company_content{
    font-size: 1.3rem;
  }
  .company-form-container-info{
    font-size: 0.5em;
  }
  .Inscription-company{
    display: flex;
    justify-content: center;
  }
  .companyRegistration_form_container {
    width: 110%;
    margin-bottom: 0;
  }
}